@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap");
body {
  font-family: "Roboto Slab", serif;
}
.backcolor {
  background-color: #f0c543;
}
.header-background {
  text-decoration: none;
  color: black;
  display: block;
}
.header-style {
  color: #685841;
}
.nav-link:hover {
  color: #fff;
}
.btn-success-custom {
  --bs-btn-color: #685841;
  --bs-btn-border-color: #685841;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #685841;
  --bs-btn-hover-border-color: #685841;
  --bs-btn-focus-shadow-rgb: 25, 135, 84;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #685841;
  --bs-btn-active-border-color: #685841;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #685841;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #685841;
  --bs-gradient: none;
}

.header-logoimg {
  width: 4%;
  margin-left: 1.5em;
  margin-right: 1em;
}
.margin-right {
  margin-right: 100px;
}
.flex-right {
  justify-content: end;
}
.banner-imgs {
  display: block;
  padding-left: 0;
  padding-right: 0;
}

.new-arrival {
  display: block;
  height: 70px;
  text-align: center;
}
.new-arrival h3 {
  padding-top: 0.5em;
}

.product-style {
  box-sizing: border-box;
  float: left;
  font-size: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
}
.product-style img {
  width: 100%;
}
.price {
  color: grey;
  font-size: 22px;
  text-align: center;
}

.product-style button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: rgb(99, 65, 3);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
.product-style button:hover {
  opacity: 0.7;
}
.coll-right a {
  background: #685841;
  padding: 0 !important;
  border-radius: 4px;
  width: 150px;
  font-size: 16px;
  color: #fff !important;
  letter-spacing: 1.5px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
.coll-left {
  width: 75%;
  float: left;
  text-align: left;
}
.coll-right {
  width: 25%;
  float: left;
  display: flex;
  align-items: center;
  height: 100%;
}
.collection {
  margin-top: 50px;
  text-align: center;
  font-weight: bold;
}
.flex-collection {
  display: flex;
  justify-content: center;
  text-align: center;
}
.flex-collection button:hover {
  opacity: 0.7;
}
.flex-collection > div {
  background-color: #f1f1f1;
  width: 300px;
  margin: 10px;
  text-align: center;
  font-size: 18px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.btnexplore {
  width: 100%;
  border: #5c5b5b;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}
.flex-event {
  display: flex;
  justify-content: center;
  text-align: center;
}
.flex-event > div {
  background-color: #f1f1f1;
  width: 600px;
  margin: 10px;
  text-align: center;
  font-size: 18px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.flex-event a {
  width: 100%;
  border: #5c5b5b;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}
.event-image {
  margin-top: 30px;
}
.flex-event button:hover {
  opacity: 0.7;
}
.btn-info {
  width: 100%;
  border: #5c5b5b;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}
/* about us */
.au-img {
  width: 70%;
  text-align: center;
  margin-bottom: 1.5em;
  margin-top: 3%;
}
